//fonts
$font-title:  'Ubuntu', sans-serif;
$font-general: 'Roboto', sans-serif;
$font-logo: 'Dancing Script', cursive;



//colors

$color-primary: rgb(79, 83, 129);
$color-secundary: rgb(2, 9, 36);
$color-dark: rgb(0, 0, 0);
$color-gray: rgba(51, 51, 51, 0.5);
$color-light: rgb(255, 255, 255);
